

.app{

    margin: 20px;
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    box-shadow: 1px 1px 10px  #5c5c5c;
  
    
  

    
}

.deleteElement{

    float: right;
   
   
 
}

.deleteElement .cdk-drag-placeholder { 
    width: 0px;
    height: 0px;
}

.trashImage {
    width: 40px;
    height: 40px;

    &:hover { 

        width: 45px;
        height: 45px;

    }
}


.color{ 

    height: 10px;
    width: 100%;



}

.main {

    display: flex;
    margin: 20px;
   
    


}

.taskButton { 
    margin-left: 20px;
}

.taskHeading {

  
}

.item {

  
    background-color: white;

      
    justify-content: center;
    align-items: center;



    width: 100%;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #ccc;

    &:hover{
        transform: translateY(-2px);

        box-shadow: 1px 1px 5px rgb(131, 131, 131);
    }


    
}

.cdk-drop-list-dragging .cdk-drag {

    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    
}

.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
} 

.cdk-drag-preview {
    text-align: center;
}

  

.container {

    min-height: 50px;
}

.heading { 


}

.biggerContainer{ 
    text-align: center;
    width: 100%;
   
    justify-content: center;
    align-items: center;
 
  
}

.toDoContainer {

    width:33.3%;
    background-color:#c5c5c5;
    box-shadow: 2px 5px 5px #888888;
    padding: 5px;
    
    
}

.activeContainer {

    width:33.3%;
    background-color:#c5c5c5;
    box-shadow: 2px 5px 5px #888888;
    margin: 0px 20px;
    padding: 5px;
   
    
}
.doneContainer {
    width:33.3%;
    background-color:#c5c5c5;
    box-shadow: 2px 5px 5px #888888;
    padding: 5px;
  
}